fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
cloudinary==1.42.1
opencv-python-headless==4.11.0.86
numpy==2.2.3
scikit-learn==1.6.1
python-multipart==0.0.20
pydantic==2.10.6
pydantic-settings==2.8.1
python-dotenv==1.0.1
